body
{
    background: url(image/pingouin.png) no-repeat blue center ;
    background-size: 90%;
}

article
{
    background: url(image/pingouin.png) no-repeat red center ;
    opacity: 0.8;
    background-size: 10%;
    margin-right: 2cm;
    margin-left: 2cm;
}

section
{
    background: lightcoral;
    opacity: 0.8;
}


h1
{
    color: blueviolet;
}
