body
{
    background: url(image/pingouin.png) no-repeat blue center ;
    background-size: 90%;
}
section
{
    background: lightcoral;
    opacity: 0.8;
}
article
{
    background: url(image/pingouin.png) no-repeat red center ;
    opacity: 0.8;
    background-size: 10%;
}
p
{
    position: right;
}
h1
{
    color: blueviolet;
}
